[submodule "vimbundle/vim-rails"]
	path = vimbundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vimbundle/vim-bundler"]
	path = vimbundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "vimbundle/jedi-vim"]
	path = vimbundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
